<footer>
  <div class="container-fluid">
    <div class="row p-5 mt-4 justify-content-center text-center">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <img src="/image/imgs-navbar/logo.png" alt="logo Factory Chups"
             style="width: 80px" />
        <h6 class="d-none d-lg-block fw-bold">Factory Chups</h6>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <h6 class="d-none d-lg-block fw-bold">Contacto</h6>
        <p>Jr Ayacucho y Libertad, Referencia: Cerca del MR Juerga - Huancayo</p>
        <p class="fs-6">Email: FactoryChups@gmail.com</p>
        <p>Teléfono: +51 936345512</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 d-none d-lg-block">
        <h6 class="fw-bold">Navegación</h6>
        <ul class="navegacion p-0" style="list-style-type: none">
          <li><a href="/" class="text-decoration-none text-dark">Inicio</a></li>
          <li><a href="/acerca" class="text-decoration-none text-dark">Acerca de nosotros</a></li>
          <li><a href="/contacto" class="text-decoration-none text-dark">Contacto</a></li>
          <li><a href="/productos" class="text-decoration-none text-dark">Productos</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <h6 class="d-none d-lg-block fw-bold">Redes sociales</h6>
        <a href="https://es-la.facebook.com/" target="_blank" class="text-dark me-2" aria-label="Facebook">
          <i class="fab fa-facebook fa-lg"></i>
        </a>
        <a href="https://www.instagram.com/facto_rychups?igsh=ZHgzeHd5OGM5MXZh" target="_blank" class="text-dark me-2" aria-label="Instagram">
          <i class="fab fa-instagram fa-lg"></i>
        </a>
        <a href="https://twitter.com/" target="_blank" class="text-dark me-2" aria-label="Twitter">
          <i class="fab fa-twitter fa-lg"></i>
        </a>
        <a href="https://www.whatsapp.com/" target="_blank" class="text-dark" aria-label="Whatsapp">
          <i class="fab fa-whatsapp fa-lg"></i>
        </a>
      </div>
    </div>
  </div>
</footer>

<!-- Tu script personalizado -->
<script src="/js/main.js"></script>
<!-- Scripts de Bootstrap si los necesitas -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>

</body>
</html>
