<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/contacto.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>

    <!-- EMPIEZA FORMATO CONTACTANOS  -->
    <div class="container container-round mt-5 mb-5 justify-content-center">
        <!--Aquí empieza el formulario-->
        <div class="row">
            <div id="contenedor-imagen-con-formulario" class="col-lg-6 d-none d-lg-flex p-0">
                <img class="w-100 imagen-form" src="/image/imgs-pagina-contacto/1-form.jpg"
                    alt="pila de helados" />
            </div>
            <div class="col-lg-6 p-5">
                <form action="https://formsubmit.co/c8073e1e302d6e6b4a631557c141812a" method="POST">
                    <div class="row text-center">
                        <div class="col mt-5 mb-5">
                            <h1>Contáctanos</h1>
                            <p>
                                Si está interesado en la venta de nuestros productos, le invitamos a ponerse en contacto con nosotros.
                            </p>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-lg-6 col-sm-12 my-lg-0 my-3">
                            <div class="form-outline">
                                <label class="form-label" for="nombre"><i class="fa-solid fa-user"></i> Nombre:</label>
                                <input type="text" id="nombre" name="Nombre" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 my-lg-0 my-3">
                            <div class="form-outline">
                                <label class="form-label" for="email"><i class="fa-solid fa-envelope"></i> Email:</label>
                                <input type="email" id="email" name="Email" class="form-control" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-outline mb-3">
                            <label class="form-label" for="tema"><i class="fa-brands fa-twitter"></i> Tema:</label>
                            <input type="text" id="tema" name="Tema o asunto" class="form-control" required />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-outline mb-3">
                            <label class="form-label" for="mensaje"><i class="fa-solid fa-message"></i> Mensaje:</label>
                            <textarea class="form-control" name="Mensaje" id="mensaje" rows="4" required></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12 mt-4">
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-dark btn-block mb-4">
                            Enviar
                        </button>
                    </div>
                    <input type="hidden" name="_next" value="https://acp4.github.io/Pagina-Heladeria/index.html">
                    <input type="hidden" name="_captcha" value="false">
                </form>
            </div>
        </div>
    </div>

    <%- include('../includes/end.ejs') %>
