<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Producto</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/producto.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Tienda</a></li>
                <li class="main-header__item"><a class="active" href="/admin/crear-producto">Crear Producto</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <form class="product-form"  action="/admin/crear-producto" method="POST">
            <div class="form-control">
                <label for="nombreproducto"></label>
                <input type="text" name="nombreproducto" id="nombreproducto">
            </div>
            <button type="submit">Crear Producto</button>
        </form>
    </main>

</body>

</html>